// variables
$font-stack: Helvetica,
sans-serif;

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container {
    padding: none;
    margin: none;
    border: none;
    max-width: 50px;

    &.first {
        position: relative;

        background-color: rgb(94, 255, 0);
        padding: 20px;
        border-radius: 50%;
    }

    &.first {
        position: relative;

        background-color: rgb(94, 255, 0);
        padding: 20px;
        border-radius: 50%;
    }
}

.box {
    width: 400px;
    height: 400px;
    border: 5px solid black;
    margin: 20px;

    .item {
        width: 50px;
        height: 50px;
        margin: 10px;
        position: relative;
        
        top: 50px;
        &.item1 {
            background-color: rgb(255, 0, 0);
            right: 10%;
        }

        &.item2 {
            background-color: rgb(255, 166, 0);
            left: 100px;
        }
        
        &.item3 {
            background-color: rgb(0, 255, 234);
            left: 200px;
        }
    }
}